.todo-app {
  width: 100%;
  max-width: 720px;
  min-width: 320px;
  white-space: nowrap;
}

.top-panel {
  margin: 1rem 0;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem .5rem 0 .5rem;
}