.app-header {
  align-items: flex-end;
  position: relative;
}

@media screen and (max-width: 450px) {
  .app-header {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 0
  }

  .app-header .app-header__lang {    
    top: 10px;
  }
  
}

.app-header h1 {
  flex-grow: 1;
}

.app-header h2 {
  font-size: 1.2rem;
  color: grey;
}

.app-header__lang {
  position: absolute;
  top: -15px;
  right: 0;

  font-size: .600rem;
}
